<h1><%= @facade.organisation.name %></h1>
<h2>Shifts</h2>

<table>
  <thead>
  <tr>
    <th>Employee name</th>
    <th>Shift date</th>
    <th>Start time</th>
    <th>Finish time</th>
    <th>Break length (minutes)</th>
    <th>Hours worked</th>
    <th>Shift cost</th>
  </tr>
  </thead>
  <% @facade.shifts.each do |shift| %>
    <tr>
      <td><%= shift.user.name %></td>
      <td><%= shift.start.strftime('%d/%m/%Y') %></td>
      <td><%= shift.start.strftime('%-I:%M%P') %></td>
      <td><%= shift.finish.strftime('%-I:%M%P') %></td>
      <td><%= shift.break_length_in_minutes %></td>
      <td><%= "TODO: Calculate Hours Worked" %></td>
      <td><%= 'TODO: Calculate shift cost' %></td>
    </tr>
  <% end %>
</table>
